*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 50%;
    margin-inline: auto;
    text-align: center;
}

#userName{
    font-weight: 700;
    padding: 5px;
}

#generate{
    border: none;
    background-color: lightgreen;
    padding: 10px;
    border-radius: 5px;
    width: 40%;
}

.imageContainer{
    margin: 5px;
    width: fit-content;
    margin-inline: auto;
    background-image: url("images/background.jpg!w700wp");
}

img {
    width: 100px;
    height: 100px;
    background-color: gray;
    margin: 5px;
    border: 1px solid darkred;
}