*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
    width: 70%;
    display:flex;
}

.player{
    text-align: center;
    margin-inline: 15px;   
}

.name{
    font-weight: 700;
}

.score{
    background-color: rgb(0, 174, 239);
    width: 100%;
    border-radius: 5px;
    margin-bottom: 5px;
    font-weight: 600;
}

.cardImage{
    background-image: url("Images/9B.png");
    width: 120px;
    height: 180px;
}

.btnBlock{
    text-align: center;
    padding: 5px;
}

#btn{
    border: 0;
    background-color: rgb(0, 255, 0);
    padding: 5px;
    padding-inline: 20px;
    border-radius: 5px;
    font-weight: 700;
    font-size: medium;
}