*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container{
  display: block;
  margin: auto;
  width: 70%;
  padding: 5px;
  border: 2px solid black;
}

.questionContainer
{
  margin-bottom: 5px;
  width: 100%;
}

.imageContainer{
  width: 100%;
}

img{
  width: 100%;
}

#result{
  position: absolute;
  top: 270px;
  left: 340px;
  color: white;
  font-weight: 600;
}